<?xml version="1.0" encoding="ISO-8859-1" ?>
<config>
	<server>
		<port>9963</port>
		<type>tcp</type>
	</server>
	<output>
	    <logfile>
	        <enabled>true</enabled>
		<file>log.txt</file>
	    </logfile>
		<xesfile>
			<enabled>false</enabled>
			<file>file.xes</file>
		</xesfile>
	</output>
	<internal>
		<capacity>
			<comm-buffer>1000</comm-buffer>
			<case-track>1000</case-track>
			<trace-events>10000</trace-events>
		</capacity>
	</internal>
</config>